<div class="row justify-content-center mt-3 pb-5">
    <div class="col-3 text-center px-3 border-right">
        <div class="circulo" (click)="test('i')">
            <i class="fas fa-info">
                <p class="mt-2">Información del proyecto</p>
            </i>
        </div>
    </div>
    <div class="col-3 text-center px-3 border-right">
        <div class="circulo" (click)="_igmService.sendMsg('a')">
            <i class="fas fa-map-marker-alt">
                <p class="mt-2">Mapa 1</p>
            </i>
        </div>
    </div>
    <div class="col-3 text-center px-3 border-right">
        <div class="circulo" (click)="_igmService.sendMsg('b')">
            <i class="fas fa-map-marker-alt">
                <p class="mt-2">Mapa 2</p>
            </i>
        </div>
    </div>
    <div class="col-3 text-center px-3">
        <div class="circulo" (click)="_igmService.sendMsg('z')">
            <i class="fas fa-map-marker-alt">
                <p class="mt-2">Cota 0</p>
            </i>
        </div>
    </div>
</div>

<div class="row justify-content-around align-items-end mt-5 pt-5">
    <div class="col-4">
        <button type="button" class="btn btn-danger btn-block" (click)="_igmService.sendMsg('off')">Apagar sistema</button>
    </div>

    <div class="col-4">
        <button type="button" class="btn btn-warning btn-block" (click)="_igmService.sendMsg('reset')">Reiniciar sistema</button>
    </div>
</div>