.base {
    background-color: rgba($color: #031520, $alpha: 0.8);
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 30rem;
}

.imageBack {
    background-image: url('/assets/maps/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}