<button mat-raised-button (click)="subscribe()">SUBSCRIBE TO FOOBAR TOPIC</button>
<button mat-raised-button (click)="sendMsg()">SEND FOOBAR MESSAGE</button>
<button mat-raised-button (click)="unsubscribe()">UNSUBSCRIBE FROM FOOBAR TOPIC</button>

<div fxLayout>
    <div fxFlex="20">
        <h1>Messages:</h1>
        <p *ngFor="let message of messages">
            {{message | json}}
        </p>
    </div>
    <div>
        <h1>Status info:</h1>
        <p *ngFor="let statusMessage of status">
            {{statusMessage}}
        </p>
    </div>
</div>

<div class="container mt-4 mb-2">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Seleccione imagen a desplegar en <strong>Modulo IGM</strong></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-lg-3 m-4 text-center" *ngFor="let map of maps">
            <img src="assets/maps/{{ map }}.jpg" alt="mapa{{ map }}" width="100%" class="m-2">
            <button class="btn btn-primary" type="submit" (click)="select(map)">Seleccionar mapa</button>
        </div>
    </div>
</div>
